@model Page<User>

@{
    ViewData["Title"] = "Отдел кадров";
}

<form asp-action="Index">
    <div class="form-group">
        <label class="control-label">Фильтрация</label>
        <input type="text" value="@Model.Filter.Value" name="filter.Value" class="form-control"> <select asp-items="ViewBag.Filters" name="filter.Field" class="form-control"></select>
    </div>
    <div class="form-group">
        <input type="submit" value="Найти" class="btn btn-default" />
    </div>
</form>

@if (Model.Items.Count() > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    <a asp-action="Index"
                       asp-route-sort="Id"
                       asp-route-filter.Field="@Model.Filter.Field"
                       asp-route-filter.Value="@Model.Filter.Value">
                        @Html.DisplayNameFor(model => model.Items.First().Id)
                    </a>
                </th>
                <th>
                    <a asp-action="Index"
                       asp-route-sort="Login"
                       asp-route-filter.Field="@Model.Filter.Field"
                       asp-route-filter.Value="@Model.Filter.Value">
                        @Html.DisplayNameFor(model => model.Items.First().Login)
                    </a>
                </th>
                <th>
                    <a asp-action="Index"
                       asp-route-sort="Email"
                       asp-route-filter.Field="@Model.Filter.Field"
                       asp-route-filter.Value="@Model.Filter.Value">
                        @Html.DisplayNameFor(model => model.Items.First().Email)
                    </a>
                </th>
                <th>
                    <a asp-action="Index"
                       asp-route-sort="Name"
                       asp-route-filter.Field="@Model.Filter.Field"
                       asp-route-filter.Value="@Model.Filter.Value">
                        @Html.DisplayNameFor(model => model.Items.First().Name)
                    </a>
                </th>
                <th>
                    <a asp-action="Index"
                       asp-route-sort="Post"
                       asp-route-filter.Field="@Model.Filter.Field"
                       asp-route-filter.Value="@Model.Filter.Value">
                        @Html.DisplayNameFor(model => model.Items.First().Post)
                    </a>
                </th>
                <th>
                    <a asp-action="Index"
                       asp-route-sort="Role.Name"
                       asp-route-filter.Field="@Model.Filter.Field"
                       asp-route-filter.Value="@Model.Filter.Value">
                        @Html.DisplayNameFor(model => model.Items.First().Role)
                    </a>
                </th>
                <th>Функции</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Login)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Post)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Role.Name)
                    </td>
                    <td>
                        @Html.ActionLink("Подробнее", "Details", new { id = item.Id })

                        @if (User.IsInRole("admin"))
                        {
                            <text> | </text>@Html.ActionLink("Редактировать", "Edit", new { id = item.Id })<text> | </text>
                            @Html.ActionLink("Удалить", "Delete", new { id = item.Id })
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <br />
    <pagination pagination-model="Model.Pagination"
                page-action="Index"
                page-url-sort="Model.Sort"
                page-url-filter.Field="Model.Filter.Field"
                page-url-filter.Value="Model.Filter.Value">
    </pagination>
}
else
{
    <h3>Ничего не найдено</h3>
}